@inherits LayoutComponentBase
@using Models
@using MovieFinder.Client.Models.Movies
@using Services
@using Slugify
@inject NavigationManager NavigationManager
@inject ITMDBService TMDB

<MudThemeProvider Theme="@MovieTheme" IsDarkMode="true" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
	<MudAppBar Fixed="true" Style="background-color: #2d4659;" Elevation="0">
		<div style="width: 76%; margin: 0 auto;">
			<MudGrid Justify="Justify.Center" Spacing="2">
				<MudItem xs="3" md="2" Class="d-flex align-items-center mt-2">
					<NavLink Href="/">
						<MudImage Width="60"
								  Src="/Images/tmdb.svg">
						</MudImage>
					</NavLink>
				</MudItem>

				<MudItem xs="9" md="10" Class="d-flex align-items-center">
					<MudAutocomplete T="Movie"
									 FullWidth="true"
									 Label="Search movie"
									 Value="_selectedMovie"
									 ValueChanged="NavigateToMoviePage"
									 SearchFunc="@SearchMovie"
									 Variant="Variant.Filled"
									 ShowProgressIndicator="true"
									 ToStringFunc="@(m => m?.Title)"
									 ResetValueOnEmptyText="true"
									 DebounceInterval="300"
									 Margin="Margin.Dense"
									 Clearable="true"
									 Dense="true"
									 MaxHeight="300"
									 CoerceText="false"
									 RelativeWidth="DropdownWidth.Adaptive"
									 PopoverClass="wide-popover-mobile">
						<ItemTemplate>
							<MudStack Row="true">
								<MudImage Style="width: 47px; height: 71px; margin-right: 10px;"
										  Src="@GetImageUrl(context.PosterPath)"
										  Alt="Movie Poster"
										  FallbackSrc="/Images/notfound.png" />

								<MudStack Justify="Justify.Center" Spacing="0">
									<h4>@context.Title</h4>
									<h5>@context.ReleaseDate</h5>
								</MudStack>
							</MudStack>
						</ItemTemplate>
					</MudAutocomplete>
				</MudItem>
			</MudGrid>
		</div>
	</MudAppBar>

	<MudMainContent>
		@Body
	</MudMainContent>
</MudLayout>

@code {
	private SlugHelper slugHelper = new();
	private Movie? _selectedMovie;

	private void NavigateToMoviePage(Movie selectedMovie)
	{
		NavigationManager.NavigateTo(GenerateUrl(selectedMovie.Id, selectedMovie.Title));
	}

	//Generates a valid url for a specific movie using the Slugify library
	private string GenerateUrl(int id, string movieTitle)
	{
		return $"/movie/{id}/{slugHelper.GenerateSlug(movieTitle)}";
	}

	private async Task<IEnumerable<Movie>> SearchMovie(string movieName, CancellationToken token)
	{
		return await TMDB.GetSearchedMoviesAsync(movieName);
	}

	private string GetImageUrl(string posterPath)
	{
		return string.IsNullOrWhiteSpace(posterPath)
		? ""
		: $"https://image.tmdb.org/t/p/w780{posterPath}";
	}
	MudTheme MovieTheme = new MudTheme()
	{
		PaletteDark = new PaletteDark()
		{
			ActionDisabledBackground = "#E1E1E1",
			Black = "#0b0d10",
			Background = "#243447",
			BackgroundGray = "#182027",
			Surface = "rgba(36, 52, 71, 1)",
			DrawerBackground = "#141b23",
			DrawerText = "rgba(255,255,255, 0.65)",
			DrawerIcon = "rgba(255,255,255, 0.65)",
			AppbarText = "rgba(255,255,255, 0.78)",
			TextPrimary = "#DCDCDC",
			TextSecondary = "rgba(255, 255, 255, 0.70)",
			ActionDefault = "#0799CE",
			ActionDisabled = "909090",
			Divider = "#B7D2FF",
			TableLines = "rgba(255,255,255, 0.10)",
			LinesDefault = "rgba(255,255,255, 0.10)",
			LinesInputs = "rgba(255,255,255, 0.25)",
			TextDisabled = "rgba(255,255,255, 0.30)",
			Primary = "#2C9BF0",
			PrimaryContrastText = "#F0F4FF",
			Secondary = "#14b8a6"
		}
	};
}
